stages:
- release

variables:
  IMAGE_NAME: registry.gitlab.com/droidfivex/docker-android-open-source-project/$CI_COMMIT_TAG
  DOCKER_DRIVER: overlay2

before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com

release-image:
  image: docker:latest
  services:
    - docker:dind
  stage: release
  only:
    - tags
  script:
    - docker build --pull -t $IMAGE_NAME $CI_COMMIT_TAG
    - docker tag $IMAGE_NAME $IMAGE_NAME:$CI_COMMIT_TAG
    - docker push $IMAGE
    - docker push $IMAGE:$CI_COMMIT_TAG

release-mirror:
  image: alpine/git
  stage: release
  script:
    - df -h
    - echo $DEPLOY_KEY | base64 -d > id
    - chmod 600 id
    - git push $DEPLOY_TARGET --mirror
