stages:
- release

release-image:
  image: docker:latest
  services:
    - docker:dind
  stage: release
  only:
    - tags
  variables:
    IMAGE_NAME: registry.gitlab.com/droidfivex/docker-android-open-source-project/$CI_COMMIT_TAG
    DOCKER_DRIVER: overlay2
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build --pull -t $IMAGE_NAME $CI_COMMIT_TAG
    - docker tag $IMAGE_NAME $IMAGE_NAME:$CI_COMMIT_TAG
    - docker push $IMAGE
    - docker push $IMAGE:$CI_COMMIT_TAG

release-mirror:
  image: alpine
  stage: release
  script:
    - df -h
    - apk add --no-cache bash git openssh
    - echo $DEPLOY_KEY | base64 -d > id
    - chmod 600 id
    - git clone --mirror $(git remote get-url origin) ../mirror
    - cd ../mirror
    - git push $DEPLOY_TARGET --mirror --quiet
